/* line 11, d:/Copy/Divisory/Public/grid/css/scss/skin.scss */
html {
  font-size: 14px;
  font-family: "Consolas", sans-serif;
}

/* line 17, d:/Copy/Divisory/Public/grid/css/scss/skin.scss */
html,
body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

/* line 23, d:/Copy/Divisory/Public/grid/css/scss/skin.scss */
.no-js body:after {
  display: block;
  position: fixed;
  top: 5px;
  left: 5%;
  right: 5%;
  padding: 10px 0;
  background: firebrick;
  color: lightyellow;
  text-align: center;
  font-weight: bold;
  z-index: 100500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  content: 'This page requires JavaScript for correct performance';
}

/* line 42, d:/Copy/Divisory/Public/grid/css/scss/skin.scss */
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

/* line 46, d:/Copy/Divisory/Public/grid/css/scss/skin.scss */
.ir {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -1000%;
  top: -1000%;
  text-indent: -1000%;
}

/* line 56, d:/Copy/Divisory/Public/grid/css/scss/skin.scss */
img.r {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 1px) {
  /* line 68, d:/Copy/Divisory/Public/grid/css/scss/skin.scss */
  html {
    font-size: 12px;
  }
}
@media (min-width: 480px) {
  /* line 74, d:/Copy/Divisory/Public/grid/css/scss/skin.scss */
  html {
    font-size: 13px;
  }
}
@media (min-width: 960px) {
  /* line 80, d:/Copy/Divisory/Public/grid/css/scss/skin.scss */
  html {
    font-size: 14px;
  }
}
