@import "_calc.scss";



//	============================================================================
//	Grid Settings
//	============================================================================

	$gutter: 10px;

//	============================================================================





//	============================================================================
//	Common Grid Classes
//	============================================================================

	.g,
	.g--rev{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 0;
		list-style-type: none;
	}
	.g{
		direction: ltr;
	}
	.g--rev{
		direction: rtl;
	}
	.g.w720,
	.g--rev.w720{
		max-width: 720px;
	}
	.g.w960,
	.g--rev.w960{
		max-width: 960px;
	}
	.g.w1140,
	.g--rev.w1140{
		max-width: 1140px;
	}

	.c,
	.cc,
	.c-c{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		padding: 0 $gutter;
	}
	.cc{
		padding: 0;
	}
	.c-c{
		padding: 0 $gutter*2;
	}

	.lt-ie9 .c,
	.lt-ie9 .cc,
	.no-js .c,
	.no-js .cc,
	.no-js .c-c{
		display: block !important;
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.lt-ie9 .g.w1140,
	.lt-ie9 .g.w720,
	.lt-ie9 .g.w960,
	.no-js .g.w1140,
	.no-js .g.w960,
	.no-js .g.w720,
	.lt-ie9 .g--rev.w1140,
	.lt-ie9 .g--rev.w720,
	.lt-ie9 .g--rev.w960,
	.no-js .g--rev.w1140,
	.no-js .g--rev.w960,
	.no-js .g--rev.w720{
		width: 100% !important;
		max-width: 100% !important;
	}

//	============================================================================





//	============================================================================
//	Fixed Fractions
//	============================================================================

	@include grid-calc(2 3 4 5 6 12);

//	============================================================================





//	============================================================================
//	Media-Dependent Fractions
//	============================================================================

	@media (min-width: 480px){
		@include grid-calc(2 3, '--m');
	}

	@media (min-width: 960px){
		@include grid-calc(2 3 4, '--t');
	}

	@media (min-width: 1200px){
		@include grid-calc(2 3 4 5 6 12, '--d');
	}

//	============================================================================
